<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="log_router_details_observer" instance="Gautam\Mod4\Observer\LogRouterDetailsObserver" />
    </event>
</config>
