<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="gautam_mod5_product_view_plugin" type="Gautam\Mod5\Plugin\ProductViewPlugin"/>
    </type>
</config>
